*{
    margin: 0;
padding: 0;
}

.body{
    margin: auto;
width: 1280px;
}

.header{ 
 text-align: center;
   margin: 32px 0px;  
}


.a{
    color: #FF0000;
text-decoration: none;
}

.menu_item{
    display: inline-block;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
color: #FF0000;
text-decoration: none;
}

.menu_item_link1{
    width: 68px;
margin: 0 36px;
display: inline-block;
}

.menu_item_link2{
    width: 131px;
margin: 0 36px;
display: inline-block;

}

.menu_item_link3{
    width: 87px;
margin: 0 36px;
display: inline-block;
}

.menu_item_link4{
    width: 140px;
margin: 0 25px;
display: inline-block;
}

.img{
    width: 1280px;
height: 789px;
}

.main_text{
    font-family: 'Montserrat';
font-style: normal;
color: #373737;
text-align: center;
}

.headline{
    margin: 48px 253px 38px;
width: 774px;
font-weight: 700;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
}

.text1{
    margin: 38px 68px 0;
width: 1145px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
}

.text2{
    margin: 28px 68px;
width: 1145px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
}

.button{
    width: 191px;  
background: #FF0000;
border-radius: 4px;   
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
color: #FFFFFF;

padding: 18px 44px 17px 43px;
border: 0;
margin: 66px 545px;

}

.footer{
width: 462px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 20px;
letter-spacing: 2.4px;
color: #373737;
text-align: right;
margin: 21px 105px 29px 713px;
}